.logout {
  display: flex;
  align-items: center;

  &-img {
    height: 50px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    &-userhandle {
      font-size: 18px;
      align-self: flex-end;
    }

    &-button {
      font-size: 14px;
      color: $base-blue;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}
