.filter {
  &-container {
    margin: 0 0 0 20px;
    padding: 30px;
    border: 1px solid $border-shadow;
    border-radius: 10px;

    h3 {
      padding: 0;
    }
  }

  &-content {
    padding: 0;

    &-container {
      margin: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-title {
      font-size: 18px;
    }

    &-options {
      padding: 2px 20px;
      margin: 10px 5px 0 0;
      width: auto;
      border: 1px solid $border-shadow;
      border-radius: 50px;

      &:hover {
        background-color: $base-blue;
        color: $base-white;
        cursor: pointer;
      }

      &.selected {
        background-color: $base-blue;
        color: $base-white;
      }

      &-container {
        display: flex;
        padding: 0;
        flex-wrap: wrap;
      }
    }
  }

  &-actions {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}
