.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  top: 0;

  img {
    height: 50px;
  }
}
