.loader {
  &-body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: $loader-z-index;
    top: 0;
    background-color: $loader-background;
    overflow: auto;
  }

  &-content {
    &-img {
      height: 50px;
    }
  }
}
