.tweet {
  margin: 50px 30px;
  box-shadow: 0 4px 8px 0 $border-shadow;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 0 $border-shadow;
  }

  &-body {
    &-sub {
      display: flex;
      justify-content: space-between;

      &-location {
        font-size: small;
      }
    }

    &-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;

      &-hashtag {
        &-item {
          padding: 2px 10px;
          margin: 10px 5px 0 0;
          width: auto;
          border: 1px solid $border-shadow;
          border-radius: 50px;
          background-color: $base-green;
          color: $base-white;
        }
      }
    }
  }
}
